{% extends 'base.html' %}





{% block content %}

<div class="row" >
    <div class="col">


        <div class="row justify-content-end">
    <div class="col-3">
      <a href="{% url 'add_group' %}" class="btn btn-outline-primary">Add Group</a>
    </div>

  </div>

    </div>
</div>


<div class="row">
<div class="col">



    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>

        <tbody>

        {% for group in list_groups %}
        <tr>
            <th scope="row">{{group.id}}</th>
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
            <td>
                <div class="col">
                    <a href="{% url 'edit_group' group.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_group' group.id %}" class="btn btn-outline-danger btn-sm">Delete</a>

                </div>
            </td>
        </tr>

        {% endfor %}




        </tbody>
    </table>


</div>
</div>



{% endblock content %}