{% extends 'base.html' %}

{% block content %}

<div class="row" >
    <div class="col">


        <div class="row justify-content-end">
    <div class="col-3">
        <a href="{% url 'add_user' %}" class="btn btn-outline-primary">Add User</a>

    </div>

  </div>

    </div>
</div>



<div class="row">
<div class="col">



    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Created</th>
            <th scope="col">Group</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>

        {% for user in list_users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.created}}</td>
            <td>{{user.group}}</td>
            <td>
                <div class="col">
                    <a href="{% url 'edit_user' user.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_user' user.id %}" class="btn btn-outline-danger btn-sm">Delete</a>

                </div>
            </td>
        </tr>

        {% endfor %}




        </tbody>
    </table>


</div>
</div>



{% endblock content %}